<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b.flog_backend.domains.exercise.mapper.ExerciseSqlMapper">


<!-- key로 dto 조회 -->
<select id="getExerciseDtoById">
    SELECT * FROM e_exercise WHERE id = #{id}
</select>

<!-- 유저 아이디, 날짜별 조회 -->
<select id="getExerciseByUserIdAndLogDate">
    SELECT * FROM e_exercise WHERE user_id = #{userId} AND log_date = #{logDate}
</select>

<!-- 유저 아이디별 운동날짜리스트 가져오기 -->
<select id="getRecordedDatesByUserId">
    SELECT DISTINCT log_date FROM e_exercise WHERE user_id = #{userId}
</select>

<!-- 운동 기록 추가 -->
<insert id="insertExercise" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO e_exercise (user_id, sector, exercise_name, log_date, log_time, is_logged_exercise)
    VALUES (#{userId}, #{sector}, #{exerciseName}, #{logDate}, #{logTime}, #{isLoggedExercise})
</insert>

<!-- 운동 세트 추가 -->
<insert id="insertExerciseSet">
    INSERT INTO e_exercise_set (exercise_id, set_number, intensity, reps)
    VALUES (#{exerciseId}, #{setNumber}, #{intensity}, #{reps})
</insert>


<!-- ⭐ -->
<select id="getExerciseSetsByExerciseId" resultType="com.b.flog_backend.domains.exercise.dto.ExerciseSetDto">
    SELECT
        id,
        exercise_id,
        set_number,
        intensity,
        reps,
        created_at
    FROM
        e_exercise_set
    WHERE
        exercise_id = #{exerciseId}
    ORDER BY
        set_number ASC
</select>


<!-- 유저별 루틴 조회(List) -->
<resultMap id="routineWithExercisesResultMap" type="com.b.flog_backend.domains.exercise.dto.RoutineDto">
    <id property="id" column="routine_id"/>
    <result property="userId" column="user_id"/>
    <result property="routineName" column="routine_name"/>
    <result property="createdAt" column="created_at"/>
    <collection property="exercises" ofType="com.b.flog_backend.domains.exercise.dto.ExerciseDto">
        <id property="id" column="exercise_id"/>
        <result property="sector" column="sector"/>
        <result property="exerciseName" column="exercise_name"/>
    </collection>
</resultMap>

<select id="getRoutineDtoListByUserId" resultMap="routineWithExercisesResultMap">
    SELECT
        r.id AS routine_id,
        r.user_id,
        r.routine_name,
        r.created_at,
        e.id AS exercise_id,
        e.sector,
        e.exercise_name
    FROM
        e_routine r
    LEFT JOIN
        e_exercise e ON r.id = e.routine_id
    WHERE
        r.user_id = #{userId}
    ORDER BY
        r.id, e.id
</select>

</mapper>