<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b.flog_backend.domains.meal.mapper.CalorieMapper">
    
    <insert id="insertTodayCalorie" parameterType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO m_today_calorie(user_id, date)
        VALUES(#{userId}, NOW())
    </insert>

    <insert id="insertMeal" parameterType="com.b.flog_backend.domains.meal.dto.MealDto">
        INSERT INTO m_meal(today_calorie_id, type)
        VALUES(#{todayCalorieId}, #{type})
    </insert>

    <insert id="insertFood" parameterType="com.b.flog_backend.domains.meal.dto.FoodDto">
        INSERT INTO m_food(meal_id, name, calorie)
        VALUES(#{mealId}, #{name}, #{calorie})
    </insert>

    <select id="findTodayCalorieListByUserId" parameterType="int" resultType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto">
        SELECT * FROM m_today_calorie WHERE user_id = #{userId}
    </select>

    <select id="findTodayCalorieByUserId" parameterType="int" resultType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto">
        SELECT * FROM m_today_calorie WHERE user_id = #{userId}
        AND DATE(date) = CURDATE();
    </select>

    <select id="findTodayCalorieByUserIdAndDate" resultType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto">
        SELECT * FROM m_today_calorie WHERE user_id = #{userId} AND date = #{date}
    </select>

    <select id="findTotalCalorieByTodayCalorie" parameterType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto" resultType="com.b.flog_backend.domains.meal.response.TotalCalorie">
        SELECT
            mm.id as mealId,
            mm.type,
            COALESCE(SUM(mf.calorie), 0) AS total_calorie
        FROM m_meal mm
        LEFT JOIN m_food mf ON mm.id = mf.meal_id
        JOIN m_today_calorie mtc ON mtc.id = mm.today_calorie_id
        WHERE mtc.date = #{date} AND mtc.user_id = #{userId}
        GROUP BY mm.id, mm.type
        ORDER BY mm.id;
    </select>

    <select id="findTodayCalorieById" parameterType="int" resultType="com.b.flog_backend.domains.meal.dto.TodayCalorieDto">
        SELECT * FROM m_today_calorie WHERE id = #{id}
    </select>

    <insert id="insertGoalCalorie" parameterType="com.b.flog_backend.domains.meal.dto.GoalCalorieDto">
        INSERT INTO m_goal_calorie(user_id, goal_calorie)
        VALUES(#{userId}, #{goalCalorie})
    </insert>

    <update id="updateGoalCalorie" parameterType="com.b.flog_backend.domains.meal.dto.GoalCalorieDto">
        UPDATE m_goal_calorie
        SET goal_calorie = #{goalCalorie}
        WHERE user_id = #{userId}
    </update>

    <select id="selectGoalCalorieByUserId" parameterType="int" resultType="Integer">
        SELECT goal_calorie
        FROM m_goal_calorie
        WHERE user_id = #{userId}
    </select>

    <select id="findFoodListByMealId" parameterType="int" resultType="com.b.flog_backend.domains.meal.dto.FoodDto">
        SELECT *
        FROM m_food
        WHERE meal_id = #{mealId}
    </select>

    <update id="updateFood" parameterType="com.b.flog_backend.domains.meal.dto.FoodDto">
        UPDATE m_food
        SET name = #{name}, calorie = #{calorie}
        WHERE id = #{id}
    </update>

    <delete id="deleteFood" parameterType="int">
        DELETE FROM m_food WHERE id = #{id}
    </delete>

    <select id="findCalorie" resultType="Map">
        SELECT mtc.date, SUM(mf.calorie) as calorie 
        FROM m_today_calorie mtc
        JOIN m_meal mm ON mtc.id = mm.today_calorie_id
        JOIN m_food mf ON mm.id = mf.meal_id
        WHERE mtc.user_id = #{userId}
        GROUP BY mtc.date
    </select>

</mapper>
